html {
  font-family: Merriweather, serif;
  line-height: 1.5;
  background-color: #fff;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header .title {
  display: flex;
  background-color: #d05c2e;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  border: 2px solid #a63f38;
}

h1 {
  margin: 0;
}

img {
  width: 40px;
}

header .list {
  display: flex;
  justify-content: space-around;
  background-color: #d05c2e;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}

header ul {
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}

li {
  list-style-type: none;
  border: 2px solid #a63f38;
  margin: 0;
  border-top: 0;
  flex-basis: 33.3333%;
}

header a {
  font-size: 1.125rem;
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: #a63f38;
  border: 2px solid #a63f38;
  border-top: 0;
}

a:hover {
  background-color: #a63f38;
  color: white;
}
